In [1]:
import pandas as pd
#from datetime import datetime

In [2]:
CSV_FILE = 'data/Binance_BTCUSDT_1h.csv'

In [3]:
df = pd.read_csv(CSV_FILE, header=1, index_col=0,
                 usecols=[0, 2, 3, 4, 5, 7],
                 )  #, parse_dates=True, infer_datetime_format=True)
df.index = pd.to_datetime(df.index, format='%Y-%m-%d %I-%p')
#df.index = df.apply(lambda x: datetime.strptime(x.name, '%Y-%m-%d %I-%p'), axis=1)
#df.index = pd.Series(df.index).apply(lambda x: datetime.strptime(x, '%Y-%m-%d %I-%p'))
df = df.sort_index()
df = df.rename(columns={'Open':'O', 'High':'H', 'Low':'L', 'Close':'C', 'Volume To':'V'})
df.index.name = 'T'  # Time
df.tail()

                           O        H        L        C           V
T
2018-10-28 16:00:00  6487.01  6495.04  6475.00  6494.55  1879872.85
2018-10-28 17:00:00  6494.55  6503.39  6485.58  6488.51  1534249.85
2018-10-28 18:00:00  6488.51  6491.94  6475.00  6477.26  1627718.81
2018-10-28 19:00:00  6477.26  6492.02  6465.00  6468.65  1606915.08
2018-10-28 20:00:00  6468.65  6480.00  6453.00  6480.00  1422598.34